name: CI/CD Autotests

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Commit SHA for frontend and backend'
        required: true

jobs:
  build: 
    runs-on: self-hosted
    
    steps:
    - name: Checkout autotests repo
      uses: actions/checkout@v4

    - name: Clone frontend
      uses: actions/checkout@v4
      with:
        repository: Jonny-JD/NotesServer-F-
        ref: test
        path: frontend
        
    - name: Clone backend
      uses: actions/checkout@v4
      with:
        repository: Jonny-JD/NotesServer-B-
        ref: test
        path: backend
        
    - name: Login to Hub
      uses: docker/login-action@v3.0.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - name: Run make frontend build
      env: 
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      run: make -C frontend build

    - name: Run make backend build
      env: 
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
        GITHUB_SHA: ${{ github.sha }}
      run: make -C backend build
      
    - name: Run make frontend push
      env: 
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      run: make -C frontend push
    
    - name: Run make backend push
      env: 
        DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      run: make -C backend push
    
    - name: Kube config
      run: |
        mkdir -p ~/.kube
        echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
      
    - name: Run make create test namespace
      run: make create-test-namespace
    
    - name: Run make create secrets
      run: make create-secrets
      
    - name: Run make deploy test backend
      run: make deploy-test-backend

    - name: Run make deploy test frontend
      run: make deploy-test-frontend

    - name: Wait for backend rollout
      run: kubectl rollout status deployment/backend -n test

    - name: Wait for frontend rollout
      run: kubectl rollout status deployment/frontend -n test
      
    - name: Run make cleanup-namespace
      run: make cleanup-namespace
